body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.page-link {
  text-decoration: none;
  font-weight: bold;
  color: #FFB703;
}
h3 {
  font-size: 150%;
  color: #eae2b7;
}
.sources {
  position: absolute;
  bottom: 2em;
}