/* ------------------- */
/* ------general------ */
/* ------------------- */

body {
  /* removes some border issues with the header*/
  margin: 0px;
  /* removes the ability to scroll sideways while zoomed all teh way out, since this cuts out the overflow */
  overflow-x: clip;
}
/* makes the font bigger on a computer */
@media only screen and (min-width: 767px) {
  body {
    font-size: 150%;
  }
}
/* styles the entire page */
html {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', serif;
  background-color: #444;
  /* same as above */
  overflow-x: clip;

}

/*styles the main content text and titles*/
.main-content {
  text-align: center;
  color: #FFF;
  padding: 0.5vw;


}

/* styles h3 and h2 for the websites main content */
.main-content h3, .main-content h2 {
  
  text-align: left;
  font-weight: bold;
  margin: 1em;
  /* gives the title a nice separator */
  border-bottom: #000 solid 2px;
  
}

/* styles the homepage footr */
.footer {
  font-weight: normal !important;
  font-size: 0.75em;
  text-align: right;
  margin-right: 2em;
}

/* link styling */
a {
  text-decoration: none !important; /* removes the underline on a link */
  font-weight: bold;
}
/* unvisited link */
a:link {
  color: #8ECAE6;
}
/* visited link */
a:visited {
  color: #219EBC;
}

/* styles the ul list tag */
ul {
  list-style-type: none; /* removes the bullet point on a list */
}


/* -------------- */
/* ----header---- */
/* -------------- */

/* styling the header bar*/
.header {
  font-family: "Georgia", serif;
  text-align: center;
  position: relative;
  top: -30px; /* makes sure there is no gap on the header */
  width: 100%;
  padding-top: 1.5em;
  border-bottom: solid 5px #666;
  background-color: #000;
  overflow-x: clip; /* same as above */
}

/* styling the "Max Knoth" header */
.header h1 {
  font-size: 250%;
  margin-bottom: 0px;
  color: #FFF;
  text-shadow: 2px 2px #222;
}

/* styling the "A website about me" header */
.header h3 {
  margin-top: 0px;
  color: #fff;
  text-shadow: 1px 1px #222;
}
/* ------------------ */
/* -----side-bar----- */
/* ------------------ */

/* styles the sidebar container that is used to close the bar*/
/* # is becuase it is an id, not a class*/
#side-bar {
  display: block;
  position: fixed; /* this is so the sidebar stays with you when you scroll down */
  /* this covers the screen so you can click anywhere to close */
  width: 100%;
  height: 100%;
  /* offscreen if button is not clicked*/
  left: -100%;
  top: 0em;
  z-index: 100; /* makes sure that the side bar close button is always above the main content */
  /*repition is so it works on all browsers*/
  transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  /* these fix a blue line that appears when I linked the background as a bookmark */
  border: none !important;
  text-decoration: none !important;
  outline: none !important;

}

/* styles the visible side bar */
.side-bar-container {
  height:100%;
  width: 17em;
  /* makes the background of the sidebar blur the content below the sidebar */
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
}

/*:target means if it is hyperlinked to (notice how when you click side bar the link adds #side-bar)*/
#side-bar:target {
  /*makes side bar onscreen once button is clicked*/
  left: 0;
  border: none !important;
  text-decoration: none !important;


}

/* styles the ≡ */
.open-menu {
  display: block;
  /* makes sure the button scrolls with you */
  position: fixed;
  top: 0.3em;
  left: 0.3em;
  z-index: 95; /* makes the button go above the main content, but below the side bar close button */
  font-family: 'Nanum Gothic', san-serif;
  /* helps the character ≡ look more like a button */
  font-size: 3em;
  font-weight: 700;
  width: 1em;
  height: 1em;
  line-height: 0.9em;
  text-align: center;
  color: #FFF !important;
  text-decoration: none;
}
/* gives the ≡ a shadow when hovered */
.open-menu:hover {
  background-color: rgba(200, 200, 200, 0.1);
  border-radius: 50em;
  box-shadow: 2px 2px 5px rgba(255,255,255,0.3);
}
/* styles the embedded side bar page */
.embed-bar {
  border: none; /* embedded pages have a border by default */
  width: 17em;
  overflow-y: visible;
  height:100%;
}

/* -------------------- */
/* -----Routes-css----- */
/* -------------------- */

/* styles the route image container */
.overnighter-container {
  width: calc(100%-2em); /* the padding would make the bar overflow the screen if the width was 100% */
  background-color: #eae2b7;
  color: #000;
  display: flex;
  margin: 0px;
  padding: calc(1em + 0.5vw);
  overflow-x: scroll; /* gives the overflow bar a scroll property, so on phones you can scroll through the routes */
}
/* styles the "OVERNIGHTER" title */
.over-title {
  font-size: 2rem;
  font-family: "Impact",sans-serif; 
  color: #000;
  border: none!important;

}
/* styles the Overnighter container (+routes) */
.over-title-container {
  margin: 0px;
  background-color: #eae2b7;
  text-align: center;
}
/* styles the individual route images */
.overnighter {
  width: max(300px,17rem);
  height: max(300px,17rem);
  border-radius: 1em;
  border: #000 solid 2px;
  align-content: center;
  color: #fff;
  text-shadow: #000 1px 1px;
  background-size: cover; /* mkaes the images in the background of the route images take up the whole backround */
  background-repeat: no-repeat;
  margin: 1em;
}

.overnighter-container a {
  text-decoration: none!important; /* removes the underline on a link */
}
/* gives the route images their backgrounds */
#alright-delight {
  background-image: url("images/alright.jpg");
}
#High-Cascades {
  background-image: url("images/Cascades.jpeg");
}
#alplake {
  background-image: url("images/alplake.jpeg");
}
#paisleyOTT {
  background-image: url("images/paisleyOTT.jpeg");
}
#lavalicious {
  background-image: url("images/lavalicious.jpeg");
}
/* styles the text in a route image */
.over-title-container h2 {
  border: none!important;
  text-decoration: none!important;
  font-family: "Impact",sans-serif;
  text-align: center;
  margin: 0px;
}
/* --------------------------------- */
/* -------individual-route-css------ */
/* --------------------------------- */

/* slideshow from your canvas */
.slide-container {
  position: relative;
  left: calc(25% / 2);
  overflow: hidden;
  border: #FFF solid 5px;
  border-radius: 8px;
  margin: 0;
}
/* RWD for the caption and the slideshow container */
@media only screen and (max-width: 767px) {
  .caption {
    position: relative;
    color: #fff;
    text-shadow: #000 1px 1px;
    top: -3em;
    left: -1vw; /*vw is 1% of veiwport width */
    text-align: center;
    font-size: small;
    margin: 0;
  
  }
  .wrapper {
    width: 75vw;
    height: 60vw;

  }
  .slide-container {
    width: 75vw;
    height: 60vw;
  }
  
}
@media only screen and (min-width: 768px) {
  .caption {
    position: relative;
    color: #fff;
    text-shadow: #000 1px 1px;
    top: -3em;
    left: 25%;
    font-size: small;
    margin: 0;
    font-weight: bold;
  
  }
  .wrapper {
    width: 75vw;
    height: 60vw;
  }
  .slide-container {
    width: 75vw;
    height: 60vw;
  }
}

.wrapper {
  display: flex;
  animation: slide 16s infinite;
  -webkit-animation: slide 16s infinite;
  overflow: visible;
  flex-direction: row-reverse;
}
.wrapper img {
  width: 75vw;
}
/* slide animation for the slideshow */
@keyframes slide {
  0% {
    transform: translateX(0vw);
  }
  20% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(75vw);
  }
  45% {
    transform: translateX(75vw);
  }
  50% {
    transform: translateX(calc(75vw * 2));
  }
  70% {
    transform: translateX(calc(75vw * 2));
  }
  75% {
    transform: translateX(calc(75vw * 3));
  }
  95% {
    transform: translateX(calc(75vw * 3));
  }
  99% {
    transform: translateX(calc(75vw * 4));
  }
  100% {
    transform: translateX(calc(75vw * 4));
  }
}
/* styles the RWGPS route map embed */
.route-map {
  width: 70vw;
  height: 65vw;
  border-radius: 2em;
  overflow: clip;
}
@media only screen and (max-width: 800px) {
  .route-map {
    width: 100vw !important; /*vw is 1% of veiwport width */
    height: 120vw !important;
  }

}

/*--------------*/
/*---Gear-CSS---*/
/*--------------*/
/* Parallax scrolling from canvas */
.ScrollText {
  height:fit-content; /* makes sure the text fits in the boxes */
  background-color: #444;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}
.BG {
  background-position:center; /* centers background*/
  background-repeat: no-repeat;
  background-size:cover; /* covers the background with the image*/
  background-attachment: fixed;
  min-height: 40vw;
}

/* all the background images*/
.b1 {
  background-image: url("images/Bikescroll1.jpg");
}

.b2 {
  background-image: url("images/Bikescroll2.jpg");
}

.b3 {
  background-image: url("images/Bikescroll3.jpg");
}

.b4 {
  background-image: url("images/Bikescroll4.jpg");
}
.b5 {
  background-image: url("images/Bikescroll5.jpg");
}

.b6 {
  background-image: url("images/Bikescroll6.jpg");
}
.b7 {
  background-image: url("images/Bikescroll7.jpg");
}

