/* ------------------- */
/* ------general------ */
/* ------------------- */

body {
  /* removes some border issues with the header*/
  margin: 0px;
}

html {
  height: 100%;
  width: 100%;
  /* Makes the background look good on a phone */
  background-repeat: repeat;

  font-family: Arial, sans-serif;
  background-color: #003049;
 

}

/*styles the main content text and titles*/
.main-content {
  text-align: center;
  color: #eae2b7;

}

.main-content h3, .main-content h2 {
  border-bottom: #000 solid 2px;
  text-align: left;
  font-weight: bold;
  margin: 1em;
  
}

/* styles the homepage footr */
.footer {
  font-weight: normal !important;
  font-size: 0.75em;
  text-align: right;
  margin-right: 2em;
}

/* link styling */
/* unvisited link */
a:link {
  color: #8ECAE6;
}
/* visited link */
a:visited {
  color: #219EBC;
}



/* -------------- */
/* ----header---- */
/* -------------- */

/* styling the header bar*/
.header {
  font-family: "Georgia", serif;
  text-align: center;
  position: relative;
  top: -30px;
  width: 100%;
  padding-top: 1.5em;
  border-bottom: solid 5px #000;
  background-color: #219EBC;
}

/* styling the "Max Knoth" header */
.header h1 {
  font-size: 250%;
  margin-bottom: 0px;
  color: #eae2b7;
  text-shadow: 2px 2px #222;
}

/* styling the "A website about me" header */
.header h3 {
  margin-top: 0px;
  color: #f77f00;
  text-shadow: 1px 1px #222;
}
/* ------------------ */
/* -----side-bar----- */
/* ------------------ */

/* styles the sidebar container that is used to close the bar*/
/* # is becuase it is a bookmark, not a class*/
#side-bar {
  display: block;
  position: fixed;
  /* this covers the screen so you can click anywhere to close */
  width: 100%;
  height: 100%;
  /* offscreen if button is not clicked*/
  left: -240em;
  top: 0em;
  z-index: 100;
  color: white;
  /*repition is so it works on all browsers*/
  transition: 0.5s ease-in-out 0.1s;
  -o-transition: 0.5s ease-in-out 0.1s;
  -webkit-transition: 0.5s ease-in-out 0.1s;
  -ms-transition: 0.5s ease-in-out 0.1s;
  border: none !important;
  
  
}
/* styles the visible side bar */
.side-bar-container {
  height:100%;
  width: 17em;
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
}

/*:target means if it is hyperlinked to (notice how when you click side bar the link adds #side-bar)*/
#side-bar:target {
  /*makes side bar onscreen once button is clicked*/
  left: 0;


}


.open-menu {
  display: block;
  position: fixed;
  top: 0.3em;
  left: 0.3em;
  z-index: 15;
  font-family: 'Nanum Gothic', san-serif;
  font-size: 3em;
  font-weight: 700;
  width: 1em;
  height: 1em;
  line-height: 0.9em;
  text-align: center;
  
  color: #000 !important;
  text-decoration: none;
}


.embed-bar {
  border: none;
  width: 17em;
}

/* -------------------- */
/* -----Routes-css----- */
/* -------------------- */

.overnighter-container {
  width: 100%;
  background-color: #eae2b7;
  color: #000;
  display: flex;
  margin: 0px;
  padding: 1em;
}
.over-title {
  font-size: 2rem;
  font-family: "Impact",sans-serif; 
  color: #000;
  border: none!important;

}
.over-title-container {
  margin: 0px;
  background-color: #eae2b7;
  text-align: center;
}
.overnighter {
  width: 200px;
  height: 200px;
  border-radius: 1em;
  border: #000 solid 2px;
  align-content: center;
  color: #fff;
  text-shadow: #000 1px 1px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1em;
}
.overnighter-container a {
  text-decoration: none!important;
}
#alright-delight {
  background-image: url("alright.jpg");
}
#High-Cascades {
  background-image: url("Cascades.jpeg");
}
.over-title-container h2 {
  border: none!important;
  text-decoration: none!important;
  font-family: "Impact",sans-serif;
  text-align: center;
  margin: 0px;
}
/* ----------------------------- */
/* -------alright.html-css------ */
/* ----------------------------- */
.slide-container {
  position: relative;
  left: calc(25% / 2);
  width: 75%;
  height: 25rem;
  overflow: hidden;
  border: #eae2b7 solid 5px;
  border-radius: 8px;
  margin: 0;
}
.caption {
  position: relative;
  color: #fff;
  text-shadow: #000 1px 1px;
  top: -3em;
  left: 25%;
  font-size: small;
  margin: 0;

}
.wrapper {
  width: 100%;
  height: 25rem;
  display: flex;
  animation: slide 16s infinite;
  -webkit-animation: slide 16s infinite;
  overflow: visible;
  flex-direction: row-reverse;
}
.wrapper img {
  width: 100%;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(100%);
  }
  45% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(200%);
  }
  70% {
    transform: translateX(200%);
  }
  75% {
    transform: translateX(300%);
  }
  95% {
    transform: translateX(300%);
  }
  99% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(400%);
  }
}
.route-map {
  width: 60%;
  height: 40em;
}
